body {
  margin: 0px;
}

nav {
  float: right;
  overflow: hidden;
}

#nav {
  list-style-type: none;
}

#nav li {
  float: left;
  padding: 10px;
  border: 2px solid purple;
}

@media (max-width: 2000px) {
  nav {
    width: 50%;
    float: right;
  }
  #nav li {
    height: 50%;
    width: 25%;
  }
}

@media (max-width: 800px) {
  nav {
    width: 100%;
  }
  #nav li {
    height: 50%;
    width: 12%;
  }
}

@media (max-width: 550px) {
  nav {
    width: 100%;
  }
  #nav li {
    height: 50%;
    width: 25%;
  }
}
